.Navbar {
    height: 4rem;
    background-color: #292D32;
}

.NavbarInner {
    max-width: 1440px;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.avatar {
    width: 48px;
    height: 48px;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mainLogo {
    width: 173px;
    height: 29px;
    margin-left: 175px;
}

.mainLogo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inputAndMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search {
    width: 232px;
    height: 29px;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    /* flex: 1; */
    width: 100%;
}

.inputAndMenu svg.menuIcon {
    color: #FFFFFF;
    font-size: 2.5rem;
    cursor: pointer;
}